<div class="navbar-area" ngStickyNav stickyClass="sticky-box-shadow" ngStickyNav>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-xl navbar-light bg-light" [class.active]="classApplied">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/logo.png" alt="logo" style="width: 10rem">
      </a>
      <button class="navbar-toggler" type="button" (click)="toggleClass()">
        <span class="burger-menu">
          <span class="top-bar"></span>
          <span class="middle-bar"></span>
          <span class="bottom-bar"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <div class="others-option d-flex " style="display: inline-block;">
          <app-login style="display: inline-grid;  justify-content: center;"></app-login>
        </div>
      </div>
    </nav>
  </div>
</div>
