<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>GalapagosHub</h3>
      <p>“Healthy ecosystems can provide 37 per cent of the mitigation needed to limit global temperature rise.” and the
        Galapagos is one of the most important ones in the planet. </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 px-5">
      <img src="assets/images/galapagos.jpg" alt="nft-image" class="img-fluid">
    </div>
    <div class="col-md-6 px-5">
      <hr>
      <div class="mb-3">
        <h2 style="color: #F14D5D; margin-bottom:0px">0 (PoS)DAI</h2>
        <span>contributed of 20000 (PoS)DAI</span>
      </div>
      <div class="mb-3">
        <h2 style="margin-bottom:0px">0</h2>
        <span>unique contributors</span>
      </div>
      <div class="mb-3">
        <h2 style="margin-bottom:0px">31</h2>
        <span>days remaining</span>
      </div>
      <button class="btn btn-primary btn-lg btn-block px-5"
        style="background-color: #F14D5D; border-color: #F14D5D">Contribute to this project</button>
    </div>
  </div>
  <br>
</div>
<div class="container-fluid" style="background-color:#DBE6E8">
  <div class="row mt-5 p-5">
    <div class="col-md-2"></div>
    <div class="col-md-2 text-center">
      <i class="ri-bubble-chart-fill"></i>
      You'll get notified about activities on the GalapagosHub.
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 text-center">
      <i class="ri-bubble-chart-fill"></i>
      All Donors get a special thank you NFT airdropped.
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 text-center">
      <i class="ri-bubble-chart-fill"></i>
      Initiative is funded and bounty is released to initiative(s) once campaign ends
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<br>
<div class="container">
  <div class="row mt-5 px-5">
    <h2><b>About:</b> GalapagosHub</h2>
    <div class="col-md-2">
      <img src="assets/images/galapagos/galapagos_hub.png" alt="nft-image" class="img-fluid">
    </div>
    <div class="col-md-10 text-left">
      <p>The Galapagos is a unique archipelago, a World Heritage Site and one of the most important conservation areas
        in the world. It’s biodiversity inspired Charles Darwin's theory of evolution.</p>

      <p>For our first round of funding, we have partnered with GalapagosHub and the ex-governor of the Galapagos <a
          href="https://es.wikipedia.org/wiki/Norman_Wray" target="_blank">Norman
          Wray</a> to provide funding that will help restore and preserve the archipelago.</p>

    </div>
  </div>
  <br>
  <div class="row px-5">
    <div class="mb-4">
      <h3>By supporting this campaign you are supporting...</h3>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/galapagos/resilient.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Galapagos<br><b>Interactivo y Resiliente</b></h5>
          <p class="card-text">Initiatives towards helping the Galapagos sustain an economy even at the face of global
            pandemics or imminent climate change.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/galapagos/aguas_encantadas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Aguas<br><b>Encantadas</b></h5>
          <p class="card-text">Inivitatives helping Galapagos improve their access to cleaner water fit for human
            consumption, treating black waters and monitoring existing water sources.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/galapagos/one_health.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>One<br><b>Health</b></h5>
          <p class="card-text">Initiatives towards keeping health of the local fauna of Galapagos' Islands protecting
            them from sickness of the livestock industry. <br><br></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-5 mt-5">
    <div class="mb-4">
      <h3>Members of GalapagosHub</h3>
    </div>
    <div class="col-md-3">
      <img src="assets/images/galapagos/partner1.jpg" alt="nft-image" class="img-fluid">
    </div>
    <div class="col-md-3">
      <img src="assets/images/galapagos/partner3.jpg" alt="nft-image" class="img-fluid">
    </div>
    <div class="col-md-3">
      <img src="assets/images/galapagos/partner4.jpg" alt="nft-image" class="img-fluid">
    </div>
    <div class="col-md-3">
      <img src="assets/images/galapagos/partner2.jpg" alt="nft-image" class="img-fluid">
    </div>
  </div>
</div>
<br>
<br>
