<div class="login">
  <div class="row">
    <div class="col-md-12" style="display:flex">
      <div class="option-item me-2">
        <button class="default-btn" disabled style="background-color: #6c757d; border-color: #6c757d; color:#919ca6"  data-toggle="tooltip" data-placement="bottom" title="Coming soon...">Create Campaign</button>
      </div>
      <div *ngIf="CurrentWallet === '' " class="option-item">
        <a href="#" (click)="login()" class="default-btn">Connect Wallet</a>
      </div>
      <div *ngIf="CurrentWallet !== '' " class="py-2">
        <img src="assets/images/galapagos/profile.png" class="img-fluid" style="max-height: 30px">
        <span class="align-bottom mt-3"> Logged in as: {{formatWallet(CurrentWallet)}}</span>
    </div>
  </div>
</div>
